.navbar-brand{
    /* background: rgb(185, 16, 16); */
    color: black;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


body {
    /* display: flex; */
    align-items: center;
    padding-bottom: 330px;
    background-image: url('bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
      
}